@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  background: url(./Download\ free\ image\ of\ Coffee\ mugs\ on\ an\ abstract\ white\ and\ gray\ background\ by\ nook\ about\ white\ background\,\ background\,\ coffee\ shop\,\ coffee\,\ and\ white\ 2449438\ \(1\).jpeg);
  background-size: cover;
  background-position: right;
}

.wrapper {
  width: 480px;
  background: transparent(241, 240, 237);
  border: 1px solid rgba(245, 217, 217, 0.2);
  backdrop-filter: transparent(70px);
  box-shadow: 0 0 10px red(19, 3, 3, 0.2);
  color: #664509dc;
  border-radius: 0px;
  padding: 120px 120px;
  justify-content: right;
}

.wrapper h1 {
  font-size: 38px;
  text-align: center;
}

.wrapper .input-box {
  position: right;
  width: 95%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: rgba(212, 188, 136, 0.911);
  border: none;
  outline: none;
  border: 2px solid rgba(235, 190, 190, 0.2);
  border-radius: 100px;
  font-size: 15px; /* Adjusted font size */
  color: #4d3709;
  padding: 5px 10px; /* Adjusted padding */
}

.input-box input::placeholder {
  color: #362602;
}

.input-box i {
  position: relate;
  right: 20px;
  top: 50%;
  transform: translateY(-50%); /* Corrected typo */
  font-size: 20px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  margin-top: auto;
  text-align: right;
}

.remember-forgot input {
    color: #e4dede;
    /*margin-right: 3px;*/
    text-align: left;
  }
  

.remember-forgot a {
  color: rgb(240, 230, 229);
  text-decoration: none;
   text-align: right;
  
}

.remember-forgot a:hover {
  text-decoration: underline;
  text-align: right;
}

.wrapper .btn {
  width: 100%;
  height: 50px;
  background: #fcf2d7;
  border: none;
  outline: none;
  border-radius: 100px;
  box-shadow: 0 0 10px none(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #504508;
  font-weight: 600; /* Adjusted font weight */
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center; /* Corrected typo */
  margin-top: 20px 0 10px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
    font-size: 14px; /* Adjusted font size */
    font-weight: 600;
  }
  .forgot-password{
    float:right ;
    position:relative;
    min-height: 1px;
    padding-right: 15px;
    margin-top: auto;

    
  }
 